<script src="https://kit.fontawesome.com/5d76af6daa.js" crossorigin="anonymous"></script>
<script src="{{ config.site_url }}/javascripts/warehouse.js"></script>

<div class="no-tabs">
  <div class="warehouse-header template-page-header full-width-container">
    <a class="template-back-link" href="..">Back to Warehouse</a>
    <img
      alt=""
      class="template-icon"
      src="{{ config.site_url }}/assets/images/template-icons/{{ id }}.svg"
    >
    <div class="template-title-container">
      <h1 class="template-title"></h1>
      <p class="tagline"></p>
    </div>
  </div>

  <div id="template-content" data-template="{{ id }}">
    <div class="stats-card card">
      <ul class="template-stats card-text">
        <li>
          <i class="template-stats-icon fa-solid fa-users"></i>
          <div>
            <strong>Number of users:</strong>
            <span class="num_users"></span>
          </div>
        </li>
        <li>
          <i class="template-stats-icon fa-solid fa-clock" title="Lifetime"></i>
          <div>
            <strong>Lifetime:</strong>
            <span class="lifetime"></span>
          </div>
        </li>
        <li>
          <i class="template-stats-icon fa-solid fa-database" title="Storage"></i>
          <div>
            <strong>Storage:</strong>
            <span class="storage"></span>
          </div>
        </li>
        <li>
          <i class="template-stats-icon fa-solid fa-credit-card" title="Estimated running costs"></i>
          <div>
            <strong>Estimated running costs:</strong>
            <span class="cost"></span>
          </div>
        </li>
        <li>
          <i class="template-stats-icon fa-solid fa-dumbbell" title="Capability"></i>
          <div class="muscly-arm-container">
            <strong class="capability-label">Capability:</strong>
            <span class="capability">
              {% include "warehouse/muscly-arms.html" %}
            </span>
          </div>
        </li>
      </ul>
    </div>
    <h2>Download</h2>
    <p class="tagline">
      Start building your cluster by downloading the <span class="template-title"></span> template.
    </p>
    <div class="highlight">
      <a
        title="Download {{ id }}.yml"
        href="{{ config.site_url }}/assets/templates/{{ id }}.yml"
        class="filename card link"
        download
      >
        <span class="tagline card-text">{{ id }}.yml</span>
        <img
          alt=""
          src="{{ config.site_url }}/solo/assets/images/download.svg"
        >
      </a>
    </div>
```
{% include "warehouse/templates/" + id + ".yml" %}
```
  </div>
</div>
