<a class="card template-card link" id="blank-template-card" href="#" hidden>
  <h2 class="template-title card-text"></h2>
  <img
    alt=""
    class="template-icon"
    src=""
  >
  <div>
    <span class="template-tagline tagline"></span>
    <ul class="template-stats card-text">
      <li>
        <i class="template-stats-icon fa-solid fa-users" title="Number of users"></i>
        <span class="num_users"></span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-clock" title="Maximum recommended lifetime"></i>
        <span class="lifetime"></span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-database" title="Storage"></i>
        <span class="storage"></span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-credit-card" title="Estimated running costs"></i>
        <span class="cost"></span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-dumbbell" title="Capability"></i>
        <span class="capability">
          <div class="muscly-arm-container">
            <img
              alt=""
              class="muscly-arm"
              src="../assets/images/template-icons/muscly-arm.svg"
            >
            <img
              alt=""
              class="muscly-arm"
              src="../assets/images/template-icons/muscly-arm.svg"
            >
            <img
              alt=""
              class="muscly-arm"
              src="../assets/images/template-icons/muscly-arm.svg"
            >
          </div>
        </span>
      </li>
    </ul>
  </div>
</a>
