<a class="card template-card" href="{{ link }}">
  <h2 class="template-header card-text">{{ title }}</h2>
  <img
    alt=""
    class="template-icon"
    src="{{ config.site_url }}/assets/images/template-icons/{{ icon }}"
  >
  <div>
    <ul class="template-stats card-text">
      <li>
        <i class="template-stats-icon fa-solid fa-users" title="Number of users"></i>
        <span> {{ num_users }} </span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-clock" title="Lifetime"></i>
        <span> {{ lifetime }} </span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-database" title="Storage"></i>
        <span> {{ storage }} </span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-credit-card" title="Estimated running costs"></i>
        <span> {{ cost }} </span>
      </li>
      <li>
        <i class="template-stats-icon fa-solid fa-dumbbell" title="Capability"></i>
        <span> {{ capability }} </span>
      </li>
    </ul>
    <span class="template-tagline tagline">
      {{ tagline }}
    </span>
  </div>
</a>
