#footer {
    display: none;
}

.cloud {
    width: 20vw;
    min-width: 17rem;
    position: absolute;
    bottom: 0;
    height: auto;
}

.parting-cloud {
    width: 35vw;
}

#cloud-l {
    left: 0;
}

#cloud-r {
    right: 0;
}

@media screen and (max-width: 76.1875em) {
    .footer {
        height: 6rem;
    }
}
