.home-block {
    position: relative;
    left: -1.2rem;
    width: 100vw;
}

.home-block h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#landing-block {
    background: linear-gradient(white, var(--home-sky-dark)) no-repeat;
    display: flex;
    justify-content: space-between;
    min-height: 75vh;
    align-items: center;
    padding: 1.5rem var(--home-inline-padding);
}

#home-image-container {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}

#home-image {
    max-height: 33rem !important;
}

#home-text {
    flex-basis: 60%;
    margin: 8.5rem 0 3.5rem 5vw;
    text-align: end;
    align-self: center;
    max-width: 40rem;
}

#home-header {
    color: var(--md-typeset-color) !important;
    font-size: 3rem !important;
    font-weight: bold;
    margin-bottom: 1rem;
    white-space: nowrap;
}

#home-subheader {
    color: var(--md-typeset-color) !important;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

#cloud-block {
    background-color: var(--home-sky-dark);
}

#cloud-bar {
    width: 100%;
    min-width: 60rem;
    display: block;
}

#mission-block {
    height: 25rem;
    background-image: linear-gradient(#F5FCFF, #9CD7F0);
    padding-inline: var(--home-inline-padding);
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    column-gap: 5vw;
}

#mission-bumcloud {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 15rem;
    width: 100%;
}

#tools-block {
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    padding-inline: var(--home-inline-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#tools-container {
    margin: 2rem 0;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    justify-items: center;
}

.tool {
    min-width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool img {
    width: 10rem;
    margin-inline: auto;
}

.tool h2 {
    margin-top: 2rem;
}

.tool p {
    margin-top: 1.5rem;
}

.tool .button {
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#green-block {
    background-image: linear-gradient(var(--light-blue), #EBEBEB);
    padding-inline: var(--home-inline-padding);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#green-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    max-width: 50rem;
    height: 28rem;
    margin: auto;
}

#green-text {
    margin: auto;
}

#green-container img {
    max-height: 20rem;
}

#ready-block {
    background-color: white;
    padding: 1rem var(--home-inline-padding) 2rem;
    text-align: center;
}

#ready-container {
    margin-inline: auto;
    max-width: 27rem;
}

#ready-container h1 {
    margin-bottom: 2rem;
}

#ready-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

#ready-buttons .button {
    margin-inline: 1vw;
    margin-top: 0.5rem;
}

#home-footer-block {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: white;
}

#home-footer-logo {
    align-self: flex-end;
    max-height: 2.2rem;
    margin-bottom: 0.6rem;
}

@media screen and (max-width: 76.1875em) {
    html, body {
        overflow-x: hidden;
    }

    #home-text {
        margin: 5rem 0 2rem 2vw;
    }

    #home-header {
        font-size: 2.5rem !important;
    }

    #home-subheader {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 59.9375em) {
    .home-block {
        height: auto !important;
        text-align: center;
    }

    #landing-block {
        flex-direction: column-reverse;
        min-height: auto;
        padding-bottom: 0.5rem;
    }

    #landing-block div {
        flex-basis: 100%;
        max-width: 100%;
    }

    #home-text {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }

    #home-header {
        font-size: 2rem !important;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #home-subheader {
        font-size: 1.1rem !important;
        margin-bottom: 1rem;
        text-align: center;
    }

    #home-image {
        content: url('../assets/images/OF_home_narrow.svg');
        display: block;
        width: 75vw;
        max-width: 20rem;
        position: relative;
        top: -1rem;
    }

    #mission-block {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    #mission-block h1 {
        margin-top: 0.5rem;
    }

    #tools-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .tool h2 {
        margin-bottom: 0.5rem;
    }

    .tool p, .tool .button, .tool h2 {
        margin-top: 0;
    }

    #green-block {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #green-container {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    #cloud-l.parting-cloud {
        content: url('../assets/images/low_cloud_l.svg');
    }

    #cloud-r.parting-cloud {
        content: url('../assets/images/low_cloud_r.svg');
    }

    #home-footer-logo {
        display: none;
    }
}

@media screen and (max-width: 25em) {
    #ready-buttons {
        flex-wrap: wrap;
    }
}

@media screen and (max-height: 50em) {
    #landing-block {
        padding-top: 0;
    }
}

:root {
    --home-inline-padding: 10vw;
}
