#home-container {
    background: linear-gradient(white, var(--home-sky-dark)) no-repeat;
    display: flex;
    justify-content: space-between;
    min-height: 75vh;
    align-items: center;
    padding-inline: 10vw;
}

#home-image-container {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}

#home-image-container img {
    max-height: 30rem !important;
}

#home-image-narrow {
    display: none;
}

#home-text {
    flex-basis: 60%;
    margin-top: 10rem;
    margin-bottom: 5rem;
    margin-left: 5vw;
    text-align: end;
    align-self: center;
    max-width: 40rem;
}

#home-header {
    color: var(--md-typeset-color) !important;
    font-size: 3rem !important;
    font-weight: bold;
    margin-bottom: 1rem;
    white-space: nowrap;
}

#home-subheader {
    color: var(--md-typeset-color) !important;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

#cloud-bar {
    width: 100%;
    min-width: 60rem;
}

#mission-block {
    height: 30rem;
    background-color: var(--home-sky-dark);
    display: flex;
    flex-direction: column;
}

#mission-container {
    background-image: linear-gradient(#F5FCFF, #9CD7F0);
    flex-grow: 1;
    padding-inline: 10vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    column-gap: 5vw;
}

#mission-bumcloud {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 15rem;
}

#tools-block {
    background-color: #F5FCFF;
    display: flex;
    flex-direction: column;
    padding-inline: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.home-block {
    position: relative;
    left: -1.2rem;
    width: 100vw;
}

.home-block h1 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#tools-container {
    margin: 2rem 0;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    justify-items: center;
}

.tool {
    min-width: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tool img {
    width: 10rem;
    margin-inline: auto;
}

.tool h2 {
    margin-top: 2rem;
}

.tool p {
    margin-top: 1.5rem;
}

.tool .button {
    margin-inline: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#green-block {
    background-image: linear-gradient(#CDEFFF, #EBEBEB);
    padding-inline: 10vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 28rem;
}

#green-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    height: 100%;
    max-width: 50rem;
    margin: auto;
}

#green-container div {
    margin: auto;
}

#green-container img {
    max-height: 20rem;
}

#ready-block {
    background-color: white;
    padding-inline: 10vw;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
}

#ready-container {
    margin-inline: auto;
    max-width: 27rem;
}

#ready-container h1 {
    margin-bottom: 2rem;
}

#ready-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
}

#ready-buttons .button {
    margin-inline: 1vw;
    margin-top: 0.5rem;
}


#footer-container {
    display: block;
}

.footer {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    background-color: white;
}

.footer-logo {
    max-height: 2rem;
    margin: 1rem 0.4rem 0.4rem;
}

@media screen and (max-width: 76.1875em) {
    #home-header {
        font-size: 2.5rem !important;
    }

    #home-subheader {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 59.9375em) {
    #home-container {
        flex-wrap: wrap-reverse;
    }

    #home-container div {
        flex-basis: 100%;
        max-width: 100%;
    }

    #home-text {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #home-text h1, h2 {
        text-align: center;
    }

    #home-subheader {
        margin-bottom: 2.5rem;
    }

    #home-image-narrow {
        display: block;
        width: 80vw;
        max-width: 20rem;
    }

    #home-image {
        display: none;
    }

    #mission-block {
        height: auto;
    }

    #mission-container {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    #mission-container h1 {
        margin-top: 0.5rem;
    }

    #tools-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .tool h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    .tool p {
        margin-top: 0;
    }

    .tool .button {
        margin-top: 0;
    }

    #tools-block h1 {
        text-align: center;
    }

    .home-block {
        height: auto !important;
    }

    #green-block {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #green-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    #cloud-l.parting-cloud {
        content: url('../assets/images/low_cloud_l.png');
    }

    #cloud-r.parting-cloud {
        content: url('../assets/images/low_cloud_r.png');
    }

    .footer-logo {
        display: none;
    }
}

@media screen and (max-width: 25em) {
    #ready-buttons {
        flex-wrap: wrap;
    }
}
