.warehouse-header {
    background-image: linear-gradient(var(--sky-blue-grey), #ECF5F8);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.5rem;
    position: relative;
}

.warehouse-main-header {
    flex-direction: column;
}

.warehouse-header h1 {
    margin-bottom: 0.5rem;
}

.warehouse-header p {
    margin: 0;
}

.warehouse-main-header p {
    max-width: 24rem;
    margin-top: 0.3rem;
}

.warehouse-tagline {
    text-align: center;
}

#filter-bar {
    background-color: var(--sky-blue-grey);
    display: flex;
    padding-inline: 2.5rem;
    font-weight: 300;
}

#filter-dropdowns-container {
    display: flex;
}

.filter-container {
    position: relative;
}

#blank-filter-container {
    display: none;
}

.filter {
    display: flex;
    align-items: center;
    height: 1.8rem;
    margin: 0.3rem 0.5rem 0.3rem 0;
    background-color: white;
    padding-left: 0.5rem;
    cursor: pointer;
}

.filter span {
    font-weight: 300;
}

.filter .fa-chevron-down {
    color: #C2DFF1;
    padding: 0.5rem;
    margin-left: auto;
}

.dropdown-container {
    display: none;
}

.connector {
    position: absolute;
    background-color: white;
    top: 2.1rem;
    left: -1px;
    width: calc(100% - 0.5rem + 2px);
    height: calc(0.9rem + 1px);
    z-index: 3;
    border-inline: solid var(--sky-blue-grey) 1px;
}

.dropdown {
    position: absolute;
    left: -1px;
    top: 3rem;
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 0.5rem + 2px);
    padding: 0.5rem;
    background-color: white;
    border: solid var(--sky-blue-grey) 1px;
    border-radius: 2px;
    z-index: 2;
}

.dropdown-option {
    line-height: 1.5rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.dropdown-option input {
    margin-right: 0.3rem;
}

.dropdown .button {
    margin-top: 0.4rem;
    align-self: center;
    padding: 0.3rem 1rem !important;
    white-space: nowrap;
}

#filter-info {
    display: none;
    margin-left: 2.5rem;
    margin-top: 0.8rem;
    font-size: 0.7rem;
}

#current-filters {
    display: flex;
}

.current-filter {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.current-filter .filter-name {
    margin-right: 0.3rem;
    font-weight: 300;
}

.current-filter i {
    position: relative;
    top: 1px;
    z-index: -1;
}

.current-filter .muscly-arm {
    max-height: 0.7rem;
    margin-bottom: 0;
    margin-right: 0.1rem;
}

#blank-current-filter {
    display: none;
}

#narrow-screen-filter-button, #narrow-screen-button-container {
    display: none;
}

#no-templates-message {
    display: none;
    text-align: center;
    margin-top: 4rem;
}

#warehouse {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
    justify-items: center;
    padding: 1.3rem;
}

.template-card {
    display: grid;
    grid-template:
        [row1-start] "header header" auto [row1-end]
        [row2-start] "icon stats" auto [row2-end]
        / 1fr 1fr;
    align-items: center;
    column-gap: 1.2rem;
    row-gap: 0.5rem;
    margin: 0 !important;
    max-width: 24rem;
    min-height: 14.2rem;
}

#blank-template-card {
    display: none;
}

.template-card .template-title {
    grid-area: header;
    text-align: center;
    margin: 0 !important;
}

.template-icon {
    grid-area: icon;
    margin: 0.5rem;
    max-height: 7.5rem;
}

.template-stats {
    grid-area: stats;
    list-style-type: none !important;
    margin: 0;
}

.template-stats li {
    display: grid;
    grid-template-columns: 2rem auto;
    margin-left: 0 !important;
    margin-bottom: 0.3rem !important;
    font-weight: 300;
    font-size: 0.9rem;
}

.template-stats li:last-child {
    margin-bottom: 0 !important;
}

.template-stats-icon {
    margin-right: 0.4rem;
    color: var(--alces-blue);
    justify-self: center;
    align-self: center;
}

.template-card .template-tagline {
    display: none;
    color: white;
    font-size: 0.75rem;
}

.template-card:hover .template-tagline {
    display: inherit;
}

.template-card:hover .template-stats {
    display: none;
}

.template-page-padding {
    padding-inline: min(15rem, 16.7vw) !important;
}

.template-page-header {
    left: max(-15rem, -16.7vw) !important;
}

.template-back-link {
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
}

.template-title-container {
    max-width: 20rem;
    margin-left: 1rem;
}

.stats-card {
    min-width: fit-content;
    width: 20%;
    padding: 1.5rem 2rem !important;
    margin: 2rem auto 0 !important;
}

.muscly-arm-container {
    display: flex;
    align-items: center;
}

.muscly-arm {
    max-height: 0.9rem;
    filter: brightness(2.3);
    margin: 0.27rem 0.27rem 0.27rem 0;
}

.capability-label {
    margin-right: 0.5rem;
}

.tooltip {
    color: var(--alces-blue);
    cursor: help;
}

.md-typeset .filename {
    background-color: var(--sky-blue-grey) !important;
    border-bottom: none !important;
}

.md-typeset pre {
    margin-top: 2px !important;
}

.md-typeset code {
    background-image: linear-gradient(var(--sky-blue-grey), #ECF5F8);
}

#template-content .filename {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    color: var(--md-code-fg-color);
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    margin: 0 !important;
}

#template-content .filename:visited {
    color: var(--md-code-fg-color);
}

#template-content .filename i {
    display: block;
    font-size: 1rem;
    color: var(--alces-grey);
}

#template-content code {
    max-height: 10rem;
}

@media screen and (max-width: 59.9375em) {
    #filter-bar {
        padding: 0.2rem 1.2rem;
    }

    #filter-dropdowns-container {
        display: none;
        padding: 0.4rem 1rem;
        flex-direction: column;
        background-color: var(--sky-blue-grey);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
    }

    .filter-container {
        width: 100%;
    }

    .filter {
        width: 100%;
        height: 2.3rem;
        margin-right: 0;
    }

    .filter .template-stats-icon {
        margin-right: 0.6rem;
    }

    .connector {
        display: none;
    }

    .dropdown {
        width: 100%;
        position: relative;
        top: -0.5rem;
        left: 0;
        border: none;
    }

    #narrow-screen-filter-button {
        display: flex;
    }

    #narrow-screen-button-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
        order: 2;
        margin-top: auto;
        margin-bottom: 1rem;
        font-weight: 400;
    }

    #narrow-screen-button-container .button {
        width: 100%;
    }

    #clear-filters-button {
        color: var(--alces-blue) !important;
        background-color: white;
    }

    #warehouse {
        padding: 0;
    }

    .warehouse-header {
        padding-inline: 0.8rem;
        text-align: center;
    }

    .template-page-padding {
        padding-inline: 0.8rem !important;
    }

    .template-page-header {
        left: -0.8rem !important;
    }

    .template-back-link {
        margin-bottom: 0;
        position: relative;
        top: -1rem;
        left: 0;
        width: 100%;
    }

    .template-title-container {
        margin-left: 0;
    }

    .stats-card {
        min-width: fit-content;
        width: 20%;
        padding: 1rem 1rem !important;
        margin: 0 auto !important;
    }

    .template-stats li {
        font-size: 0.8rem;
    }

    .template-card {
        grid-gap: 1rem;
        width: 17.5rem;
    }

    .template-card .template-tagline {
        font-size: 0.7rem;
    }

    .template-icon {
        margin-inline: 0;
    }
}

@media screen and (max-width: 25em) {
    #warehouse {
        grid-template-columns: 1fr;
    }

    .template-card {
        width: 100%;
    }
}
