@import '_search.css';
@import '_topbar.css';
@import '_nav.css';
@import '_home.css';
@import '_footer.css';

html {
  scroll-behavior: smooth;
}

.button {
  background-color: var(--alces-blue);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  color: white;
  width: fit-content;
  transition: none !important;
}

.button:hover {
  color: white !important;
  background-color: var(--alces-blue);
  filter: brightness(0.8);
  transition: background-color 125ms;
}

.button:visited {
  color: white;
}

.blue-text {
  color: var(--alces-blue);
}

.big-text {
  font-size: 1.2em;
}

.md-content {
  flex-basis: 65%;
}

.md-content__inner {
  margin: 0;
}

.md-main__inner {
  max-width: 100% !important;
  margin: 0;
}

.narrow {
  display: none;
}

@media screen and (max-width: 59.9375em) {
  .narrow {
    display: flex !important;
  }
}

[data-md-color-scheme="alces"] {
  --md-primary-fg-color: var(--header-grey);
  --md-accent-fg-color: var(--alces-blue);
  --md-typeset-color: var(--alces-grey);
}

:root {
  --alces-blue: #2693D7;
  --alces-grey: #586674;
  --header-grey: #191919;
  --button-navy: #2B3966;
  --sky-blue-grey: #DCEEF5;
}
