@import '_search.css';

html {
  scroll-behavior: smooth;
}

.button {
  background-color: var(--alces-blue);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  color: white;
  width: fit-content;
}

.button:hover {
  color: white !important;
  background-color: var(--alces-blue);
  filter: brightness(0.8);
  transition: background-color 125ms;
}

.button:visited {
  color: white;
}

.md-typeset a {
  transition: none;
}

.blue-text {
  color: var(--alces-blue);
}

.big-text {
  font-size: 1.2em;
}

.md-content {
  flex-basis: 65%;
}

.md-content__inner {
  margin: 0;
}

.md-main__inner {
  max-width: 100% !important;
  margin: 0;
}

.md-sidebar {
  min-height: 70vh;
  padding-inline: 1rem;
  flex-basis: 14rem;
  flex-shrink: 1;
  background-image: linear-gradient(var(--sky-blue-grey), white);
  top: 4.3rem !important;
}

.md-sidebar, .md-sidebar__scrollwrap  {
  overflow: visible;
}

#header-nav-links {
  display: flex;
  justify-content: center;
  align-items: center
}

#header-nav-links a {
  margin-left: 2rem;
  font-size: 0.7rem;
}

.md-nav__link, .md-nav__title {
  background: none !important;
  box-shadow: none !important;
}

#version-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.md-version__current {
  padding: 0.6rem;
  margin: 0 !important;
}

.md-version__list {
  margin: 0 !important;
}

.md-header__title {
  max-width: fit-content;
  flex-grow: 0;
}

[dir="ltr"] .md-header__title {
  margin-left: 0;
}

.md-header__inner {
  max-width: 100%;
  margin-inline: 0.5rem;
}

.md-header__topic {
  position: relative;
}

.md-header__option {
  margin-inline: 0.8rem;
}

.md-header {
  box-shadow: none;
  transition: none;
}

.top-right-links {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

.narrow {
  display: none;
}

.md-header__button {
  margin: 0;
  padding: 0;
}

.header-image {
  max-height: 2.4rem;
  margin: 0.8rem;
}

#tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 14rem;
  background-color: var(--header-grey);
}

.md-tabs {
  min-width: fit-content;
}

.md-tabs__link {
  color: white;
}

#blue-bar {
  background-color: var(--alces-blue);
  width: 100%;
  height: 0.3rem;
  position: sticky;
  top: 4.15rem;
  z-index: 1;
}

#home-container {
  background: linear-gradient(#ECECEC, var(--sky-blue-grey)) no-repeat;
  display: grid;
  column-gap: 5vw;
  grid-template-columns: 2fr 3fr;
  min-height: 75vh;
  justify-items: center;
  align-items: end;
  padding-inline: 10vw;
}

#home-text {
  margin-bottom: 5rem;
  text-align: end;
  max-width: 40rem;
}

#home-header {
  color: var(--md-typeset-color) !important;
  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
}

#home-subheader {
  color: var(--md-typeset-color) !important;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

#home-image {
  max-height: 40rem !important;
}

#cloud-bar {
  width: 100%;
  min-width: 60rem;
}

#mission-block {
  height: 30rem;
  background-color: var(--sky-blue-grey);
  display: flex;
  flex-direction: column;
}

#mission-container {
  background-image: linear-gradient(#F5FCFF, #9CD7F0);
  flex-grow: 1;
  padding-inline: 10vw;
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  justify-items: center;
  column-gap: 5vw;
}

#mission-bumcloud {
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-height: 15rem;
}

#tools-block {
  background-color: var(--sky-blue-grey);
  display: flex;
  flex-direction: column;
  padding-inline: 10vw;
  padding-top: 2rem;
}

#tools-block h1 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#tools-container {
  margin: 2rem 0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  justify-items: center;
}

.tool {
  min-width: 10rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tool img {
  width: 10rem;
  margin-inline: auto;
}

.tool h2 {
  margin-top: 1rem;
}

.tool p {
  margin-top: 3rem;
}

.tool .button {
  margin-inline: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#ready-block {
  background-color: white;
  padding-inline: 10vw;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

#ready-container {
  margin-inline: auto;
  max-width: 27rem;
}

#ready-container h1 {
  margin-bottom: 2rem;
}

#ready-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

#ready-buttons .button {
  margin-inline: 1rem;
}

#footer-container {
  display: block;
}

.footer {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  align-items: center;
  max-height: 5rem;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: white;
}

.cloud {
  width: 30vw;
  position: absolute;
  bottom: 0;
}

#cloud-l {
  left: 0;
}

#cloud-r {
  right: 0;
}

#github-logo {
  max-height: 1.2rem;
  margin-inline: 0.8rem;
}

@media screen and (max-width: 76.1875em) {
  [data-md-toggle="drawer"]:checked ~ .md-container .md-sidebar--primary {
    transform: translateX(14rem);
  }

  .md-sidebar--primary {
    left: -14rem !important;
    top: 0 !important;
    display: block !important;
  }

  .md-sidebar--primary .top-level {
    display: block !important;
    flex-basis: fit-content;
    flex-grow: 0;
  }

  .md-sidebar--primary .top-level li {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
  }

  .md-sidebar--primary .alces-link {
    display: block !important;
    align-self: center;
  }

  #burger {
    display: none;
  }

  #tabs {
    padding-inline: 1rem;
    min-width: 65%;
  }

  .md-tabs {
    display: block;
  }
}

@media screen and (max-width: 59.9375em) {
  .md-nav__source {
    display: none;
  }

  #header-nav-links {
    display: none !important;
  }

  .top-right-links {
    display: none !important;
  }

  .narrow {
    display: flex !important;
  }

  #burger {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 0.8rem;
  }

  #tabs {
    display: none;
  }

  .md-tabs {
    display: none;
  }

  #tools-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .tool .button {
    margin-top: 1.5rem;
  }

  #tools-block h1 {
    text-align: center;
  }
}

[data-md-color-scheme="alces"] {
  --md-primary-fg-color: var(--header-grey);
  --md-accent-fg-color: var(--alces-blue);
  --md-typeset-color: var(--alces-grey);
}

:root {
  --alces-blue: #2693D7;
  --alces-grey: #586674;
  --header-grey: #191919;
  --button-navy: #2B3966;
  --sky-blue-grey: #DCEEF5;
}
