{% extends "base.html" %}

{% block tabs%}
<div id="tabs">
  {{ super() }}

  <div id="search-container">
  {% if "material/search" in config.plugins %}
    <label class="md-header__button md-icon" for="__search">
      {% include ".icons/material/magnify.svg" %}
    </label>
    {% include "partials/search.html" %}
  {% endif %}
  </div>
</div>
<div id="blue-bar"></div>
{% endblock %}

{% block outdated %}
You're not viewing the latest stable version of the documentation.
<a href="{{ '../' ~ base_url }}">
  <strong>Click here to go to latest.</strong>
</a>
{% endblock %}
