html, body {
  width: 100%;
  height: 100%;
}

body {
  background-size: cover;
  background: linear-gradient(#ECECEC, var(--sky-blue-grey)) no-repeat;
}

.md-main__inner {
  max-width: 100% !important;
  margin: 0;
}

.md-tabs {
  background-color: var(--header-grey);
}

.md-sidebar {
  min-height: 70vh;
  padding-inline: 1rem;
  width: 14rem;
  background-image: linear-gradient(var(--sky-blue-grey), white);
  top: 0;
}

@media screen and (max-width: 76.1875em) {
  [data-md-toggle="drawer"]:checked ~ .md-container .md-sidebar--primary {
    transform: translateX(14rem);
  }
  
  .md-sidebar--primary {
    left: -14rem !important;
    display: block !important;
  }

  .md-sidebar--primary .top-level {
    display: block !important;
    flex-basis: fit-content;
    flex-grow: 0;
  }

  .md-sidebar--primary .top-level li {
    padding: 0.6rem 0.8rem;
    font-size: 0.8rem;
  }

  .md-sidebar--primary .alces-link {
    display: block !important;
  }

  #header-nav-links {
    display: none !important;
  }

  #alces-link {
    display: none;
  }
}

@media screen and (max-width: 59.9375em) {
  .md-nav__source {
    display: none;
  }
}


.md-content {
  min-width: 65%;
}

.md-content__inner {
  margin: 0;
}

#tabs {
  display: flex;
}

.md-nav__link, .md-nav__title {
  background: none !important;
  box-shadow: none !important;
}

#header-nav-links {
  display: flex;
  justify-content: center;
  align-items: center
}

#header-nav-links a {
  margin-left: 2rem;
  font-size: 0.7rem;
}

.md-header__inner {
  max-width: 100%;
  margin-inline: 0.5rem;
}

.md-header__topic {
  position: relative;
}

.md-version__current {
  color: white;
}

#top-right-link {
  margin-left: auto;
  width: fit-content;
}

#blue-bar {
  background-color: var(--alces-blue);
  width: 100%;
  height: 0.5rem;
}

.md-header__button {
  margin: 0;
  padding: 0;
}

.header-image {
  max-height: 2.4rem;
  margin: 0.8rem;
}

#home-container {
  display: grid;
  column-gap: 5vw;
  grid-template-columns: 2fr 3fr;
  min-height: 75vh;
  justify-items: center;
  align-items: end;
  margin-inline: 10vw;
}

#home-text {
  margin-bottom: 5rem;
  text-align: end;
  max-width: 40rem;
}

#home-header {
  color: var(--md-typeset-color) !important;
  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
}

#home-subheader {
  color: var(--md-typeset-color) !important;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

.blue-text {
  color: var(--alces-blue);
}

#home-image {
  max-height: 40rem !important;
}

#cloud-bar {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.button {
  background-color: var(--alces-blue);
  border-radius: 2px;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.2em;
}

.button:hover {
  color: white !important;
  background-color: var(--alces-blue);
  filter: brightness(0.8);
  transition: background-color 125ms;
}

.button:visited {
  color: white;
}

.md-typeset a {
  transition: none;
}

a {
  text-decoration: none;
  color: var(--md-default-fg-color--light);
}

.md-tabs__link {
  color: white;
}

.image-container {
  position: relative;
}

#slider-link {
  border: solid orange;
  position: absolute;
  height: 2.4rem;
  z-index: 2;
}

#slider-link.image1 {
    top: 75%;
    left: 8.5%;
    width: 9.2rem;
}

#slider-link.image2 {
  top: 70%;
  left: 8%;
  width: 16.5rem;
}

.spacer {
  height: 50vh;
  background-color: var(--sky-blue-grey);
  width:100%;
  display: block;
}

#footer-container {
  display: block;
}

.footer {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
  max-height: 5rem;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: white;
}

.cloud {
  width: 20vw;
  position: absolute;
  bottom: 0;
}

#cloud-l {
  left: 0;
}

#cloud-r {
  right: 0;
}

.HPC {
  color: var(--alces-blue);
}

#github-logo {
  max-height: 1.5rem;
  margin-left: 1rem;
}

[data-md-color-scheme="alces"] {
  --md-primary-fg-color: #191919;
  --md-accent-fg-color:  var(--alces-blue);
}

.md-logo img {
  height: 2rem !important;
}

:root {
  --alces-blue: #2693D7;
  --header-grey: #191919;
  --button-navy: #2B3966;
  --sky-blue-grey: #DCEEF5;
  --md-typeset-color: #586674
}
